.game-zone {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(back.png);
}

.player {
    position: absolute;
    width: 78px;
    height: 77px;
    background-image: url(player.png);
    background-repeat: no-repeat;
}

.bullet {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(bullet.png);
    background-repeat: no-repeat;
}