.game-zone {
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(../sprites/back.png);
}

.player {
    position: absolute;
    width: 78px;
    height: 77px;
    background-image: url(../sprites/player-top.png);
    background-repeat: no-repeat;
}